// Palette
$primary-color: #0170ce;
$secondary-color: #073160;
$tertiary-color: #FFC63D;
$light-text: #9F9F9F;
$light-gray: #EEEFFB;
$gray: #bebebe;
$black: #161615;
$white: #FFFFFF;
$red: red;
$green: #4DDF12;

// Fonts
$font-12: 12px;
$font-14: 14px;
$font-17: 17px;
$font-24: 24px;
$font-36: 36px;
$font-42: 42px;
