@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    font-size: 12px;
    margin: 0 0 5px 16px;
  }

  input {
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 10px 10px 10px 40px;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .searchicon {
    position: absolute;
  }

  input[disabled] {
    background-color: $light-gray;
  }

  .error {
    border: 1px solid $red;
  }
}
