@import "../../Styles/variables.scss";

.walmart-empty {
  align-items: flex-start;
  display: flex;
  height: 300px;
  justify-content: flex-start;
  padding: 8px;
  width: 100%;

  &__text {
    color: $white;
    font-size: 14px;
    margin: 0;
  }
}
